@import '../../style/utils/vars.scss';

.matchs-cats {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, $c-main-dark 50%, $c-background 50%);
  display: flex;
  flex-direction: row;

  &__card-left,
  &__card-right {
    width: 50vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
  }

  &__title,
  &__footer {
    z-index: 10;
  }

  &__title {
    font-size: 2em;
    color: $c-non-active;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__footer {
    width: 100%;
    bottom: 0;

    padding: 20px 50px;

    position: fixed;

    display: flex;
    justify-content: center;

    &__button {
      width: 70px;
      height: 50px;

      display: flex;
      justify-content: center;
      align-items: center;

      text-decoration: none;

      border-radius: 6px;
      background: $c-spliter;

      transition: 250ms;

      box-shadow: 0 1px 10px rgba(#000, 0.3);

      &:hover {
        transform: scale(1.15);
      }
      &__icon {
        background: linear-gradient(40deg, $c-orange 20%, $c-yellow);
        background-clip: text;
        color: transparent;
      }

      font-size: 2em;
    }
  }
}
