@import '../../style/utils/vars.scss';

.cats {
  &__title {
    font-size: 4em;

    background: linear-gradient(to top, $c-orange 20%, $c-yellow);
    background-clip: text;
    color: transparent;
    position: absolute;

    padding: 10px;

    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: $c-tablet) {
  .cats {
    &__title {
      font-size: 2.8em;
      width: 100%;
      text-align: center;
    }
  }
}
