$c-main-dark: #1d202b;
$c-background: #292d3e;
$c-spliter: #434a59;
$c-non-active: #646782;
$c-text: #f0f0f0;
$c-orange: #ff6b25;
$c-yellow: #ffcd14;
$c-link: #589bff;

$c-mobile: 768px;
$c-tablet: 992px;
$c-desktop: 1200px;
